<!-- INICIO BLOQUE PIE PAGINA -->
<footer class="footer" id="footer">
    <div class="footer__content">
        <div class="footer__logo"><!--BLOQUE LOGO/NOMBRE-->
            <img class="footer__img" src="../img/Logo.png" alt="logo">
        </div>

        <div class="footer__links"><!-- BLOQUE ENLACES DIRECTOS -->
            <a href="../../index.html" class="link">Inicio <span>|</span></a>
            <a href="" class="link">Proyectos <span>|</span></a>
            <a href="" class="link"> Sobre Mi</a>
        </div>
    

        <div class="footer__contact"><!-- BLOQUE ENLACES CONTACTO -->
            <a href="" class="link">GitHub <span>|</span></a>
            <a href="" class="link">LinkedIn <span>|</span></a>
            <a href="" class="link">Email</a>
        </div>				
    </div>
    <p class="footer__text">&copy; <span>2026 Gabriel</span> - Todos los derechos reservados</p>
</footer>		
<!-- FIN BLOQUE PIE PAGINA -->	