
<!-- CONTENEDOR NAVBAR -->
<nav class="navbar" id="navbar">
	<div class="nav__container"> <!-- ZONA CONTENIDO MENU -->
		<div class="nav__logo">
			<img class="nav__img" src="../img/Logo.pngs" alt="logo">
		</div>
	
		<ul class="nav__links" id="navLinks"> <!-- MENU PRINCIPAL-->
			<li><a href="../../index.html">Inicio</a></li>
			<li class="dropdown" id="dropdownToggle"><a href="#">Proyectos<i class="fa-solid fa-caret-down"></i></a>
				<ul class="dropdown__menu"> <!-- SUBMENU -->
					<li><a href="#">To Do List</a></li>
					<li><a href="#">Generador de Colores</a></li>
				</ul>
			</li>
			<li><a href="#">Sobre Mi</a></li>
			<li><a href="#">Contacto</a></li>
		</ul>

		<div class="nav__btn"> <!-- MODO OSCURO/CLARO-->
			<button class="btn__theme" id="btnTheme" aria-label="Cambiar tema">
				<i class="fa-solid fa-moon"></i>
			</button>
	
			<button class="btn__burger" id="btnBurger" aria-label="Abrir menú"><!-- MENU RESPONSIVE-->
				<span class="bar1"></span>
				<span class="bar2"></span>
				<span class="bar3"></span>
			</button>
		</div>
	</div>
</nav>
<!-- FIN CONTENEDOR NAVBAR -->
